<form class="actionsmenu" method="GET" action="{{ href(theme.item_name)|e }}">
    <div>
        <label>{{ _('More actions') }}</label>
        <select name="do"
            onchange="if ((this.selectedIndex != 0) &&
                          (this.options[this.selectedIndex].disabled == false)) {
                    this.form.submit();
                }
                this.selectedIndex = 0;">
            {% for do, disabled, title in theme.actions_menu_options %}
                <option value="{{ do }}" {% if disabled %}disabled class="disabled"{% endif %}> {{ title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="{{ _('Do') }}">
        {% if rev %}
            <input type="hidden" name="rev" value="{{ rev.revno }}">
        {% endif %}
    </div>
    <script type="text/javascript">
    <!--// Init menu
    actionsMenuInit('{{ _('More actions') }}');
    //-->
    </script>
</form>

