{% extends "layout.html" %}
{% block content %}
<h1>{{ label }} {{ item_name }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
<fieldset style="border: none; padding: 0;">
<input type="hidden" name="action" value="{{ action }}">
{% if revno %}
<input type="hidden" name="rev" value="{{ revno }}">
{% endif %}
{% if target %}
<input type="text" name="target" size="80" maxlength="200" value="{{ target }}">
{% endif %}
{% if not no_comment %}
<input type="text" name="comment" size="80" maxlength="200" value="">
{% endif %}
<input class="button" type="submit" name="button_ok" value="{{ label }}">
<input class="button" type="submit" name="button_cancel" value="Cancel">
</fieldset>
</form>
{% endblock %}

