{% extends "layout.html" %}
{% block content %}
<h1>{{ _("Copy '%(item_name)s'", item_name=item.name) }}</h1>
<form action="{{ url_for('frontend.copy_item', item_name=item.name) }}" method="POST" enctype="multipart/form-data">
<fieldset>
<label for="target">{{ _("Target") }}</label>    
<input type="text" name="target" size="80" maxlength="200" value="{{ item.name }}" />
<br>
<label for="comment">{{ _("Comment") }}</label>    
<input type="text" name="comment" size="80" maxlength="200" value="" />
<br>
<input class="button" type="submit" name="button_ok" value="{{ _('Copy') }}" />
<input class="button" type="submit" name="button_cancel" value="{{ _('Cancel') }}" />
</fieldset>
</form>
{% endblock %}
