{% extends "base_contentonly.html" %}
{% block content %}
<h1>Copying {{ item_name }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
<fieldset style="border: none; padding: 0;">
<input type="hidden" name="action" value="copy">
<input type="text" name="target" size="80" value="{{ item_name }}">
<input type="text" name="comment" size="80" value="">
<input class="button" type="submit" name="button_copy" value="Copy">
<input class="button" type="submit" name="button_cancel" value="Cancel">
</fieldset>
</form>
{% endblock %}

