{% extends "layout.html" %}
{% block content %}
{% if rev_no == None %}
<h1>{{ _("DESTROY COMPLETE item '%(item_name)s'") % dict(item_name=item.name) }}</h1>
<form action="{{ url_for('frontend.destroy_item', item_name=item.name) }}" method="POST" enctype="multipart/form-data">
{% else %}
<h1>{{ _("DESTROY REVISION '%(item_name)s' (rev %(rev_no)d)") % dict(item_name=item.name, rev_no=rev_no) }}</h1>
<form action="{{ url_for('frontend.destroy_item', item_name=item.name, rev=rev_no) }}" method="POST" enctype="multipart/form-data">
{% endif %}
<fieldset>
<label for="comment">{{ _("Comment") }}</label>    
<input type="text" name="comment" size="80" maxlength="200" value="" />
<br>
<input class="button" type="submit" name="button_ok" value="{{ _('DESTROY') }}" />
<input class="button" type="submit" name="button_cancel" value="{{ _('Cancel') }}" />
</fieldset>
</form>
{% endblock %}
