<ul class="editbar">    

{% if 'Modify' in cfg.edit_bar %}
    {% if not 'modify' in cfg.actions_excluded %} 
        {% if theme.request.user.may.write(page_name) %}
            <a href="{{ href(page_name, do='modify') }}" rel="nofollow"> {{ _('Modify') }}</a>
        {% else %}
            {{ _('Immutable Page')}}
        {% endif %}
    {% endif %}
{% endif %}

{% if 'Download' in cfg.edit_bar %}
    {% if not 'get' in cfg.actions_excluded %}
        <a href="{{ href(page_name, do='get') }}" rel="nofollow">{{ _('Download') }}</a>
    {% endif %}
{% endif %}

{% for item in editbar_items %}
    {% if 'nbcomment' in item %}
        <li class="toggleCommentsButton" style="display:none;">{{ item }}</li>
    {% else %}
        <li>{{ item }}</li>
    {% endif %}
{% endfor %}

</ul>

