<ul class="editbar">
{% if theme.shouldShowEditbar(item_name) %}
    {% if 'Modify' in cfg.edit_bar %}
        {% if not 'modify' in cfg.actions_excluded %}
            <li>
            {% if theme.item_writable %}
                <a href="{{ href('+modify', item_name)|e }}" rel="nofollow"> {{ _('Modify') }}</a>
            {% else %}
                {{ _('Immutable Page')}}
            {% endif %}
            </li>
        {% endif %}
    {% endif %}

    {% if 'Download' in cfg.edit_bar %}
        {% if not 'get' in cfg.actions_excluded %}
            <li>
                <a href="{{ href('+get', item_name)|e }}" rel="nofollow">{{ _('Download') }}</a>
            </li>
        {% endif %}
    {% endif %}

    {% if 'Quicklink' in cfg.edit_bar and theme.user.valid and 'quicklink' not in cfg.actions_excluded %}
        <li>
            <a class="nbquicklink" href="{{ href('+quicklink', item_name)|e }}" rel="nofollow">
            {% if theme.user.isQuickLinkedTo([item_name]) %}
                {{ _('Remove Link') }}
            {% else %}
                {{ _('Add Link') }}
            {% endif %}
            </a>
        </li>
    {% endif %}

    {% if 'Subscribe' in cfg.edit_bar and theme.user.valid and 'subscribe' not in cfg.actions_excluded
       and (cfg.mail_enabled or cfg.jabber_enabled) %}
        <li>
            <a class="nbsubscribe" href="{{ href('+subscribe', item_name)|e }}" rel="nofollow">
            {% if theme.user.isSubscribedTo([item_name]) %}
                    {{ _('Unsubscribe') }}
            {% else %}
                    {{ _('Subscribe') }}
            {% endif %}
            </a>
        </li>
    {% endif %}

    {% if 'Comments' in cfg.edit_bar %}
        <li class="toggleCommentsButton" style="display:none;">
            <a href="#" class="nbcomment" onClick="toggleComments();return false;">{{ _('Comments') }}</a>
        </li>
    {% endif %}

    {% if 'Discussion' in cfg.edit_bar %}
        <li>
        {% if theme.link_supplementation_page(item_name) %}
            <a class="nbsupplementation" href="{{ href('+supplementation', item_name)|e }}" rel="nofollow">
                 {{ _(cfg.supplementation_page_name) }}
             </a>
        {% else %}
            <span class="disabled">{{ _(cfg.supplementation_page_name) }}</span>
        {% endif %}
        </li>
    {% endif %}

    {% if 'ActionsMenu' in cfg.edit_bar %}
        <li>
            <form class="actionsmenu" method="GET" action="{{ url_for('frontend.dispatch')|e }}">
                <div>
                    <label>{{ _('More Actions:') }}</label>
                    <select name="endpoint"
                        onchange="if ((this.selectedIndex != 0) &&
                                      (this.options[this.selectedIndex].disabled == false)) {
                                this.form.submit();
                            }
                            this.selectedIndex = 0;">
                        {% for title, disabled, endpoint in theme.actions_menu_options(item_name) %}
                            <option value="{{ endpoint }}"{% if disabled %} disabled class="disabled"{% endif %}>{{ title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{{ _('Do') }}" /> {# XXX current js relies in this being first input elem! #}
                    <input type="hidden" name="item_name" value="{{ item_name }}" />
                    {% if rev %}
                        <input type="hidden" name="rev" value="{{ rev.revno }}" />
                    {% endif %}
                </div>
            </form>
        </li>
    {% endif %}

{% endif %}

</ul>

