{# Template used to render footer #}

    {% set info = theme.pageinfo() %}
    {% if info %}
    <div id="pagebottom">
        <p id="pageinfo" class="info" lang="{{ theme.ui_lang }}" dir="{{ theme.ui_dir }}"> {{ info }}</p>
    </div>
    {% endif %} 

</div>

{{ theme.emit_custom_html(cfg.page_footer1) }}

<div id="footer">
    {% include "editbar.html" %}
    
    <ul id="credits">
        {% for credit in cfg.page_credits %}
            <li> {{ credit }} </li>
        {% endfor %}
    </ul>
</div>

{{ theme.emit_custom_html(cfg.page_footer2) }}

{% set null = theme.request.clock.stop('run') %}
{% set null = theme.request.clock.stop('total') %}
{% set timing_information = theme.request.clock.dump() %}

{% if cfg.show_timings %}
    <ul id="timings">
    {% for timing in timing_information %}
        <li> {{ timing }}</li>
    {% endfor %}
    </ul>
{% endif %}


</body>
</html>

