{# Template used to render footer #}

<div id="pagebottom">
    
</div>
</div>

{{ Theme.emit_custom_html(Theme.cfg.page_footer1) }}

<div id="footer">
    {% include "editbar.html" %}
    {# Template used to render footer #}
    {# Template used to render footer #}
    
    {% if moin_revision and moin_release %}
        <div id="version">
            MoinMoin Release {{ moin_release }} [Revision {{ moin_revision }}], Copyright by Juergen Hermann et al.
        </div>
    
    {% endif %}
    
    {% if new_page_credits %}
        <ul id="credits">
            {% for credit in page_credits %}
                <li> {{ credit }} </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ page_credits }}
    {% endif %}
</div>

{{ Theme.emit_custom_html(Theme.cfg.page_footer2) }}

</body>
</html>

