{% extends "layout.html" %}
{% block content %}
<h1>{{ _("Global History") }}</h1>
    <table class="history">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Action</th>
                <th>Item name</th>
                <th>Revision #</th>
                <th>Revision type</th>
                <th>Submitter</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
        {% for rev in history %}
        <tr>
            <td>{{ rev.timestamp|datetime_format }}</td>
            <td>{{ rev.edit_log_action }}</td>
            <td><a href="{{ url_for('frontend.show_item', item_name=rev.item.name)|e }}">{{ rev.item.name|e }}</a>
                {% if rev.item.name != rev.name %} ({{ rev.name|e }}){% endif %}</td>
            <td>{{ rev.revno }}</td>
            <td>{{ rev.mimetype }}</td>
            <td>{{ rev|user_format }}</td>
            <td>{{ rev.edit_log_comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

