<head>
    {#
        include charset information - needed for moin_dump or any other case
        when reading the html without a web server  
    #}
    
    <meta http-equiv="Content-Type" content="{{ theme.page.output_mimetype }};charset={{ theme.page.output_charset }}">
    
    {# Search engine precautions / optimizations #}
    
    {{ cfg.html_head }}
    
    {% if theme.request.query_string %}
        {# if it is an action or edit/search, send query headers (noindex,nofollow): #}
        {{ cfg.html_head_queries }}
    {% elif theme.request.method == 'POST' or theme.page_name in ['BadContent', 'LocalBadContent', ] %}
        {# we don't want to have BadContent stuff indexed: #}
        {{ cfg.html_head_posts }}
    {% elif theme.page_name in theme.special_pagenames %}
        {# if it is a special page, index it and follow the links - we do it #}
        {# for the original, English pages as well as for (the possibly modified frontpage #}
        {{ cfg.html_head_index }}
    {% else %}
        {# if it is a normal page, index it, but do not follow the links, because #}
        {# there are a lot of illegal links (like actions) or duplicates: #}
        {{ cfg.html_head_normal }}
    {% endif %}
    
    {% for head in user_head %}
        {{ head }}
    {% endfor %}
    {% if pi_refresh %}
        {{ '<meta http-equiv="refresh" content="%d;URL=%s"' % pi_refresh }}
    {% endif %}
    {% if theme.page_name and allow_doubleclick and 
        theme.request.user.edit_on_doubleclick and request.user.may.write(theme.page_name) %}
            <meta name="edit_on_doubleclick" content="1">
    {% endif %}
      
    {% set meta_keywords = theme.request.getPragma('keywords') %}
    {% if meta_keywords %}
        <meta name="keywords" content="{{ meta_keywords }}">
    {% endif %}
    
    {% set meta_description = theme.request.getPragma('description') %}
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
    
    <title> {{ theme.head_title|escape }} - 
        {% if cfg.html_pagetitle %}
            {{ cfg.html_pagetitle|e }}
        {% else %}
            {{ cfg.sitename|e }}
        {% endif %}
    </title>
    
    <link rel="shortcut icon" href="{{ static_href("favicon.ico") }}">
    
    <link rel="Search" href="{{ href(translated_item_name('FindPage'))|e }}">
    <link rel="Index" href="{{ href(translated_item_name('TitleIndex'))|e }}">
    <link rel="Glossary" href="{{ href(translated_item_name('WordIndex'))|e }}">
    <link rel="Help" href="{{ href(translated_item_name('HelpOnFormatting'))|e }}">
    <link rel="Start" href="{{ href(translated_item_name(cfg.page_front_page))|e }}">
    {% set parent_page = theme.parent_page() %}
    {% if parent_page %}
        <link rel="Up" href="{{ href(parent_page)|e }}">
    {% endif %}
    
    {# ueb refers to universal edit button #}
    {% if theme.universal_edit_button() %}
        <link rel="alternate" type="application/wiki" title="{{ _('Modify') }}" href="{{ href(theme.page_name, do='modify')|e }}">
    {% endif %}   
    
    <link rel="alternate" title="{{ theme.page_name|e }} changes" href="{{ href(theme.page_name, do='atom_feed')|e }}" type="application/atom+xml">
    {% if html_head %}
        {{ html_head }}
    {% endif %}  
    
    {% for src in ['svg', 'common'] %}
        <script type="text/javascript" src="{{ href("%s/common/js/%s.js" % (cfg.url_prefix_local, src))|e }}"></script>
    {% endfor %}
    
    {% for media, href, title in theme.stylesheets_list() %}
        {% if loop.last %}
        <!-- css only for MS IE6/IE7 browsers -->
        <!--[if lt IE 8]>
        {% endif %}
        
        <link charset="utf-8" type="text/css" media="{{ media }}" rel=
        {% if title %}
            "alternate stylesheet" title="{{ title }}"
        {% else %}
            "stylesheet"
        {% endif %}
        href="{{ href }}"
        >
        {% if loop.last %}
        <![endif]-->
        {% endif %}
    {% endfor %}
 
    <script type="text/javascript">
    <!--
    var search_hint = " {{ _('Search') }}";
    //-->
    </script>
    
</head>
