{% extends "show.html" %}

{% block content %}
    {% if history %}
    <h1>{{ _("History of '%(item_name)s'") % dict(item_name=item_name) }}</h1>
    <form action="{{ url_for('frontend.diff', item_name=item_name) }}" method="GET">
        <div id="page-history">
        <table>
            <tr>
                <th>Name</th>
                <th>#</th>
                <th>Date</th>
                <th>Size</th>
                <th><input type="submit" value="Diff" /></th>
                <th>Editor</th>
                <th>MimeType</th>
                <th>Comment</th>
                <th colspan="5">Actions</th>
            </tr>
            {% for rev in history %}
            <tr>
                <td>{{ rev.name|e }}</td>
                <td>{{ rev.revno }}</td>
                <td>{{ rev.timestamp|datetime_format }}</td>
                <td>{{ rev.size }}</td>
                <td>
                    <input type="radio" name="rev1" value="{{ rev.revno }}" />
                    <input type="radio" name="rev2" value="{{ rev.revno }}" />
                </td>
                <td>{{ rev|user_format }}</td>
                <td>{{ rev.mimetype|e }}</td>
                <td>{{ rev.edit_log_comment|e }}</td>
                <td><a href="{{ url_for('frontend.show_item', item_name=rev.item.name, rev=rev.revno)|e }}">{{ _('show') }}</a></td>
                <td><a href="{{ url_for('frontend.show_item_meta', item_name=rev.item.name, rev=rev.revno)|e }}">{{ _('meta') }}</a></td>
                <td><a href="{{ url_for('frontend.get_item', item_name=rev.item.name, rev=rev.revno)|e }}">{{ _('download') }}</a></td>
                <td><a href="{{ url_for('frontend.highlight_item', item_name=rev.item.name, rev=rev.revno)|e }}">{{_('highlight') }}</a></td>
                <td><a href="{{ url_for('frontend.revert_item', item_name=rev.item.name, rev=rev.revno)|e }}">{{ _('revert') }}</a></td>
                <td><a href="{{ url_for('frontend.destroy_item', item_name=rev.item.name, rev=rev.revno)|e }}">{{ _('destroy') }}</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        </form>
    {% endif %}
{% endblock %}
