{% extends "layout.html" %}

{% block item %}
    <h1>
        {% if item.name %}
        Index of sub items of '{{ item.name|e }}'
        {% else %}
        Global Index
        {% endif %}
    </h1>
    {% set index = item.flat_index() %}
    {% if index %}
        <ul>
        {% for fullname, relname, mimetype in index %}
            <li><a href="{{ url_for('show_item', item_name=fullname)|e }}">{{ relname|e }} ({{ mimetype|e }})</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
