{% extends "base.html" %}

{% block layout %}
<div id="header">

<form id="searchform" method="get" action="{{ url_for('frontend.search') }}">
    <div>
        <input type="hidden" name="do" value="fullsearch" />
        <input type="hidden" name="context" value="180" />
        <label for="searchinput">{{ _('Search') }}</label>
        <input id="searchinput" type="text" name="value" value="{{ theme.request.values.get('value', '')|e }}" size="20"
            onfocus="searchFocus(this)" onblur="searchBlur(this)"
            onkeyup="searchChange(this)" onchange="searchChange(this)" />
        <input id="titlesearch" name="titlesearch" type="submit" value="{{ _('Titles') }}" />
        <input id="fullsearch" name="fullsearch" type="submit" value="{{ _('Text') }}" />

    </div>
</form>
<script type="text/javascript">
    <!--// Initialize search form
    var f = document.getElementById('searchform');
    f.getElementsByTagName('label')[0].style.display = 'none';
    var e = document.getElementById('searchinput');
    searchChange(e);
    searchBlur(e);
    //-->
</script>

<div id="logo">
    <a href="{{ url_for('frontend.show_item', item_name=translated_item_name(cfg.page_front_page))|e }}">{{ cfg.logo_string }}</a>
</div>

<div id="username">
    {% if user.valid %}
        {% if user.name %}
            {% set wiki_href, aliasname, title, exists = theme.userhome() %}
            <a href="{{ wiki_href|e }}" {% if not exists %}class="nonexistent"{% endif %} rel="nofollow" title="{{ title }}">
                {{ aliasname }}
            </a>
            <span class="sep"> | </span>
            {% if 'userprefs' not in cfg.actions_excluded %}
                <a href="{{ url_for('frontend.userprefs')|e }}" class="userprefs" rel="nofollow">{{ _('Settings') }}</a>
                <span class="sep"> | </span>
            {% endif %}
        {% endif %}
        {% if user.auth_method in cfg.auth_can_logout %}
            <a href="{{ url_for('frontend.logout')|e }}" class="logout" rel="nofollow">
                {{ _('Logout') }}
            </a>
        {% endif %}
    {% else %}
        <a href="{{ theme.login_url()|e }}" class="login" rel="nofollow">{{ _('Login') }}</a>
    {% endif %}
</div>


<h1 id="locationline">
    {% if cfg.show_interwiki %}
    <span id="interwiki">
        <a href="{{ url_for('frontend.show_item', item_name=translated_item_name(cfg.page_front_page)) }}" rel="nofollow">
            {% if cfg.interwikiname %}{{ cfg.interwikiname }}{% else %}Self{% endif %}
        </a>
        <span class="sep">: </span>
    </span>
    {% endif %}

    <span id="pagelocation">
        <span class="pagepath">
            {% for segment_name, segment_path, exists in theme.location_breadcrumbs(item_name) %}
                <a href="{{ url_for('frontend.show_item', item_name=segment_path) }}" {% if not exists %}class="nonexistent"{% endif %}>
                    {{ segment_name|shorten_item_name }}
                </a>
                {% if not loop.last %}<span class="sep">/</span>{% endif %}
            {% endfor %}
        </span>
    </span>
</h1>

{% set trail_items = theme.path_breadcrumbs() %}
{% if trail_items %}
    <div id="pagetrail">
    {% for wiki_name, item_name, item_href, exists, err in trail_items %}
        <a href="{{ url_for('frontend.show_item', item_name=item_href)|e }}"
        {% if wiki_name %}
            title="{{ wiki_name }}"
            class="{% if err %}badinterwiki{% else %}interwiki{% endif %}"
        {% else %}
            {% if not exists %}class="nonexistent"{% endif %}
        {% endif %}>
            {{ item_name|shorten_item_name }}
        </a>
        {% if not loop.last %}<span class="sep"> &raquo; </span>{% endif %}
    {% endfor %}
    </div>
{% endif %}

<ul id="navibar">
    {% for cls, url, text, title in theme.navibar(item_name) %}
        <li class="{{ cls }}">
            <a href="{{ url|e }}" {% if title %}title="{{ title }}"{% endif %}>{{ text }}</a>
        </li>
    {% endfor %}
</ul>

<div id="pageline">
    <hr style="display:none;" />
</div>

{% for category, msg in get_flashed_messages(with_categories=true) %}
    <p class="flash-{{ category }}">{{ msg }}</p>
{% endfor %}

{% block extra_header %}{% endblock %}

</div>

<div id="page" lang="{{ theme.content_lang }}" dir="{{ theme.content_dir }}">
    {# ALL CONTENT TEMPLATES SHOULD HAVE IMPLEMENTS THIS BLOCK #}
    {% block item %}
        <div id="content">
        {% block content %}{% endblock %}
        </div>
    {% endblock %}
</div>

<div id="footer">
    {% block extra_footer %}<hr>{% endblock %}
    <ul id="credits">
        {% for credit in cfg.page_credits %}
            <li> {{ credit }} </li>
        {% endfor %}
    </ul>
</div>

{% set null = theme.request.clock.stop('run') %}
{% set null = theme.request.clock.stop('total') %}
{% set timing_information = theme.request.clock.dump() %}

{% if cfg.show_timings %}
    <ul id="timings">
    {% for timing in timing_information %}
        <li> {{ timing }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

