{% extends "base.html" %}

{% block layout %}

{{ theme.emit_custom_html(cfg.html_before_header) }}

<div id="moin-header">
{% block header %}
    <form id="searchform" method="get" action="{{ url_for('frontend.search')|e }}">
        <div>
            <input type="hidden" name="do" value="fullsearch" />
            <input type="hidden" name="context" value="180" />
            <label for="searchinput">{{ _('Search') }}</label>
            <input id="searchinput" type="text" name="value" value="{{ request.values.get('value', '')|e }}" size="20" />
            <input id="titlesearch" name="titlesearch" type="submit" value="{{ _('Titles') }}" />
            <input id="fullsearch" name="fullsearch" type="submit" value="{{ _('Text') }}" />
        </div>
    </form>
    
    <div id="moin-logo">
        <a href="{{ url_for('frontend.show_item', item_name=translated_item_name(cfg.page_front_page))|e }}">{{ cfg.logo_string }}</a>
    </div>

    <div id="moin-username">
        {% if user.valid -%}
            {% if user.name -%}
                {% set wiki_href, aliasname, title, exists = theme.userhome() %}
                <a href="{{ wiki_href|e }}" {% if not exists %}class="nonexistent"{% endif %} rel="nofollow" title="{{ title }}">
                    {{ aliasname }}
                </a>
                <span class="sep"> | </span>
                {% if 'usersettings' not in cfg.actions_excluded -%}
                    <a href="{{ url_for('frontend.usersettings')|e }}" class="moin-usersettings" rel="nofollow">{{ _('Settings') }}</a>
                    <span class="sep"> | </span>
                {%- endif %}
            {%- endif %}
            {% if user.auth_method in cfg.auth_can_logout %}
                <a href="{{ url_for('frontend.logout', logout_submit=1)|e }}" class="moin-logout" rel="nofollow">
                    {{ _('Logout') }}
                </a>
            {% endif %}
        {% else %}
            <a href="{{ theme.login_url()|e }}" class="moin-login" rel="nofollow">{{ _('Login') }}</a>
        {%- endif %}
    </div>


    <h1 id="moin-locationline">
        {% if cfg.show_interwiki -%}
        <span id="moin-interwiki">
            <a href="{{ url_for('frontend.show_item', item_name=translated_item_name(cfg.page_front_page))|e }}" rel="nofollow">
                {% if cfg.interwikiname %}{{ cfg.interwikiname }}{% else %}Self{% endif %}
            </a>
            <span class="sep">: </span>
        </span>
        {%- endif %}
        <span id="moin-pagelocation">
            <span class="moin-pagepath">
                {% for segment_name, segment_path, exists in theme.location_breadcrumbs(item_name) -%}
                    <a href="{{ url_for('frontend.show_item', item_name=segment_path)|e }}" {% if not exists %}class="nonexistent"{% endif %}>
                        {{ segment_name|shorten_item_name }}
                    </a>
                    {% if not loop.last -%}<span class="sep">/</span>{%- endif %}
                {%- endfor %}
            </span>
        </span>
    </h1>

    {% set trail_items = theme.path_breadcrumbs() %}
    {% if trail_items %}
        <div id="moin-pagetrail">
        {% for wiki_name, item_name, item_href, exists, err in trail_items %}
            <a href="{{ url_for('frontend.show_item', item_name=item_href)|e }}"
            {%- if wiki_name -%}
                title="{{ wiki_name }}"
                class="{% if err %}badinterwiki{% else %}interwiki{% endif %}"
            {%- else -%}
                {% if not exists -%}class="nonexistent"{%- endif -%}
            {%- endif %}>
                {{ item_name|shorten_item_name }}
            </a>
            {% if not loop.last %}<span class="sep"> &raquo; </span>{% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <ul id="moin-navibar">
        {% for cls, url, text, title in theme.navibar(item_name) %}
            <li class="{{ cls }}">
                <a href="{{ url|e }}" {% if title %}title="{{ title }}"{% endif %}>{{ text }}</a>
            </li>
        {% endfor %}
    </ul>

    <div id="moin-pageline">
        <hr style="display:none;" />
    </div>

    {% for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="moin-flash-{{ category }}">{{ msg }}</p>
    {% endfor %}

{% endblock %}
</div>

{{ theme.emit_custom_html(cfg.html_after_header) }}

<div id="moin-page" lang="{{ theme.content_lang }}" dir="{{ theme.content_dir }}">
    {% block item -%}
        {# If you want editbar in your template, extend from show.html, not from here. #}
        <div id="moin-content">
        {% block content %}
            {# All content templates should have implement this block. #}
        {% endblock %}
        </div>
    {%- endblock %}
</div>

{{ theme.emit_custom_html(cfg.html_before_footer) }}

<div id="moin-footer">
{% block footer %}
    {% block footer_hr %}<hr/>{% endblock %}
    <ul id="moin-credits">
        {% for credit in cfg.page_credits -%}
            <li> {{ credit }} </li>
        {% endfor %}
    </ul>
{% endblock %}
</div>

{{ theme.emit_custom_html(cfg.html_after_footer) }}

{%- set null = flaskg.clock.stop('total') -%}
{%- set timing_information = flaskg.clock.dump() -%}

{% if cfg.show_timings -%}
    <ul id="moin-timings">
    {% for timing in timing_information -%}
        <li> {{ timing }}</li>
    {%- endfor %}
    </ul>
{%- endif -%}
{% endblock %}
