{% extends "show.html" %}

{% block content %}
    {% if not rev %}
    This item exists, but not this revision.
    {% else %}
    {% block headline %}
    <h1>
        {{ _("Metadata of '%(item_name)s'") % dict(item_name=item_name) }}
        {% if rev.revno != last_rev_no %}(Revision {{ rev.revno }}){% endif %}
    </h1>
    {% endblock %}
    {% if meta_rendered %}
    <div id="moin-content-meta">
        {{ meta_rendered }}
    </div>
    {% endif %}
    {% if show_navigation %}
    <ul id="moin-rev-navigation">
        <li class="moin-rev-navigation-older">
        {% if rev.revno > 0 -%}
            <a href="{{ url_for('frontend.show_item_meta', rev=rev.revno-1, item_name=item_name)|e }}"><-- older</a>
        {% else %} no older revs {%- endif %}
        </li>
        <li class="moin-rev-navigation-current">rev {{ rev.revno }}</li>
        <li class="moin-rev-navigation-newer">
            {% if rev.revno < last_rev_no -%}
            <a href="{{ url_for('frontend.show_item_meta', rev=rev.revno+1, item_name=item_name)|e }}">new --></a>
            {% else %} no newer revs{% endif %}
        </li>
    </ul>
    {% endif %}
    {% endif %}
{% endblock %}

