{% extends "modify_applet.html" %}
{% block data_editor %}
<p>
<applet code="org.anywikidraw.moinmoin.MoinMoinDrawingApplet.class"  codebase="." archive="{{ t.url_prefix_static }}/applets/anywikidraw/lib/AnyWikiDrawForMoinMoin.jar" width="800" height="620">
<param name="DrawingName" value="drawing.svg" />
{% if t.draw_url %} 
<param name="DrawingURL" value="{{ t.url }}?do=get&amp;from_tar=drawing.svg" />
{% endif %}
<param name="PageURL" value="{{ t.url }}" />
<param name="UploadURL" value="{{ t.url }}?do=modify&amp;mimetype=application/x-anywikidraw" />
<param name="Locale" value="en" />
<param name="codebase_lookup" value="false" />
<param name="classloader_cache" value="false" />
<param name="boxborder" value="false" />
<param name="centerimage" value="true" />
<strong>NOTE:</strong> You need a Java enabled browser to edit the drawing example.
</applet>
</p>
<br />
{% endblock %}
