{% extends "modify_applet.html" %}
{% block data_editor %}
<p>
{% if t.drawpath %}
<object data="{{ t.url_prefix_static }}/applets/svg-edit/svg-editor.html?paramurl={{ t.draw_url }}?do=get&amp;member=drawing.svg&amp;item=/{{ t.itemname }}" type="text/html" width="100%" height="600">
    {% else %}
    <object data="{{ t.url_prefix_static }}/applets/svg-edit/svg-editor.html?paramurl={{ t.drawpath }}&amp;item=/{{ t.itemname }}" type="text/html" width="100%" height="600">
{% endif %}
</object>
</p>
<br />
{% endblock %}
