{% block content %}
<form action="{{ itemname }}" method="POST">
    <input type="hidden" name="do" value="userprefs">
    <input type="hidden" name="handler" value="notification">
    <div class="userpref" lang="en" dir="ltr">
        <p>Select the events you want to be notified about.</p>
        <table>
            <tr>
                <td><b>Subscribed events</b>   </td>
                <td>
                    <table>
                        <tr>
                            <th>Email</th>
                            <th>Event type</th>
                        </tr>
                        {% for v in notify %}
                        <tr>
                            <td><input type="checkbox" {{ v.checked }} name="{{ v.name }}" /></td>
                            <td>{{ v.text }}</td>
                        </tr>
			{% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <td><b>Subscribed wiki pages (one regex per line)</b>   </td>
                <td><textarea rows="6" cols="50" name="subscribed_items"></textarea></td>
            </tr>
            <tr>
                <td><b></b>
                </td>
                <td><input type="submit" name="save" value="Save" /> 
                    <input type="submit" name="cancel" value="Cancel" />
                </td>
            </tr>
       </table>
   </div>
   <input type="hidden" name="do" value="userprefs">
   <input type="hidden" name="handler" value="prefs">
   <input type="hidden" name="ticket" value="{{ ticket }}">
</form>
{% endblock %}
