<div id="content">
    <h1>Recent Changes</h1>
    <table id="recentchanges">
        <tr>
            <th>Timestamp</th>
            <th>Action</th>
            <th>Item name</th>
            <th>Revision #</th>
            <th>Revision type</th>
            <th>Extra</th>
            <th>User</th>
            <th>Hostname</th>
            <th>Address</th>
            <th>Comment</th>
        </tr>
        {% for rev in history %}
        <tr>
            <td>{{ rev.timestamp|datetime_format }}</td>
            <td>{{ rev.edit_log_action }}</td>
            <td><a href="/{{ rev.item.name|urlquote }}">{{ rev.item.name|e }}</a></td>
            <td>{{ rev.revno }}</td>
            <td>{{ rev.mimetype }}</td>
            <td>{{ rev.edit_log_extra }}</td>
            <td>{{ rev.edit_log_userid }}</td>
            <td>{{ rev.edit_log_hostname }}</td>
            <td>{{ rev.edit_log_addr }}</td>
            <td>{{ rev.edit_log_comment }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
