{% extends "layout.html" %}
{% import "forms.html" as forms %}

{% block item %}
<h1>{{ _("Create Account") }}</h1>
{{ gen.form.open(form, method="post", action=url_for('frontend.register')) }}
  <input type="hidden" name="do" value="newaccount" />
  {{ forms.render_errors(form) }}
  <dl>
    {{ forms.render_field(gen, form['username'], 'text') }}
    {{ forms.render_field(gen, form['password1'], 'password') }}
    {{ forms.render_field(gen, form['password2'], 'password') }}
    {{ forms.render_field(gen, form['email'], 'text') }}
  </dl>
  {{ gen.input(form['submit'], type='submit') }}
{{ gen.form.close() }}
{% endblock %}

