{% extends theme("layout.html") %}
{% block content %}
<h1>{{ _("Revert '%(item_name)s'", item_name=item.name) }}</h1>
<form action="{{ url_for('frontend.delete_item', item_name=item.name) }}" method="POST" enctype="multipart/form-data">
    <dl>
        <dt><label for="comment">{{ _("Comment") }}</label></dt>
        <dd><input type="text" id="comment" name="comment" size="80" maxlength="200" value="" /></dd>
    </dl>
    <input class="button" type="submit" name="button_ok" value="{{ _('Revert') }}" />
    <input class="button" type="submit" name="button_cancel" value="{{ _('Cancel') }}" />
</form>
{% endblock %}
