{% extends "layout.html" %}
{% import "utils.html" as utils %}

{% block head_links %}
    {{ super() }}
    <link rel="alternate" title="{{ item_name|e }} changes" href="{{ url_for('feed.atom', item_name=item_name)|e }}" type="application/atom+xml" />
    {# universal edit button support #}
    {%- if user.may.write(item_name) and 'modify' not in cfg.actions_excluded -%}
    <link rel="alternate" type="application/wiki" title="{{ _('Modify') }}" href="{{ url_for('frontend.modify_item', item_name=item_name)|e }}" />
    {%- endif %}
{% endblock %}

{% import "editbar.html" as editbar with context %}

{% block header %}
    {{ super() }}
    {{ editbar }}
{% endblock %}

{% macro rev_navigation(view='frontend.show_item') %}
    <ul id="moin-rev-navigation">
        <li class="moin-rev-navigation-older">
        {% if rev.revno > 0 -%}
            <a href="{{ url_for(view, rev=rev.revno-1, item_name=item_name)|e }}"><-- older</a>
        {% else %}<span class="moin-disabled"><-- older</span>{%- endif %}
        </li>
        <li class="moin-rev-navigation-current">rev {{ rev.revno }}</li>
        <li class="moin-rev-navigation-newer">
            {% if rev.revno < last_rev_no -%}
            <a href="{{ url_for(view, rev=rev.revno+1, item_name=item_name)|e }}">new --></a>
            {% else %}<span class="moin-disabled">new --></span>{% endif %}
        </li>
    </ul>
{% endmacro %}

{% block content %}
    {% if show_navigation %}
        {% block rev_navigation %}
            {{ rev_navigation(view='frontend.show_item') }}
        {% endblock %}
    {% endif %}
    
    {% if not rev %}
    This item exists, but not this revision.
    {% else %}
    {% block headline %}
    {# <h1>{{ rev.item.name }} {% if rev.revno != last_rev_no %}(Revision {{ rev.revno }}){% endif %}</h1> #}
    {% endblock %}
    {% block content_data %}
    {% if data_rendered %}
    <div id="moin-content-data">
        {{ data_rendered }}
    </div>
    {% endif %}
    {% endblock %}
    {% endif %}
{% endblock %}

{% block item %}
    {{ super() }}
    {% if rev %}
    <div id="moin-pagebottom">
        <p id="moin-pageinfo" class="moin-info" lang="{{ theme_supp.ui_lang }}" dir="{{ theme_supp.ui_dir }}">
            {% if cfg.show_interwiki %}{{ cfg.interwikiname }}:{% endif %}
            {{ item_name }}
            (<a href="{{ url_for('frontend.show_item', rev=rev.revno, item_name=item_name)|e }}">rev {{rev.revno}}</a>)
            {{ _("last edit:") }} {{ utils.editor_info(rev) }} {{ rev.timestamp|datetimeformat }}
        </p>
    </div>
    {% endif %}
{% endblock %}

{% block footer_hr %}{% endblock %}

{% block footer %}
    {{ editbar }}
    {{ super() }}
{% endblock %}
