{% extends "base_contentonly.html" %}
{% block content %}
<h1>Create new item?</h1>
<p>
This item does not exist (yet), but you can try creating it now.
</p>
<h2>Create from template item</h2>
<table>
    {% for tname, templates in template_groups %}
    <tr>
        <td class="green">{{ tname }}</td>
    </tr>
    <tr>
        <td>
        {% for tname, tlabel in templates %}
            {{ '<a href="?do=modify&template=%s">%s</a> - ' % (tname, tlabel) }}
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Create an empty item</h2>
<table>
    {% for gname, mimetypes in mimetype_groups %}
    <tr>
        <td class="green">{{ gname }}</td>
    </tr>
    <tr>
        <td>
        {% for mname, mlabel in mimetypes %}
            <a href="?do=modify&mimetype={{ mname|urlquote }}">{{ mlabel|e }}</a> - 
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

