{% block content %}
<form action="/Seite2" method="POST">
    <input type="hidden" name="do" value="userprefs">
    <input type="hidden" name="handler" value="suid">
    <div class="userpref" lang="en" dir="ltr">
        <p>As a superuser, you can temporarily assume the identity of another user.</p>
            <table>
                <tr>
                    <td><b>Select User</b></td>
                    <td><select name="selected_user" size="1">
                    {% for u in user_accounts %}
                         <option value="{{ u.uid }}">{{ u.name }}</option>
                    {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="select_user" value="Select User"> <input type="submit" name="cancel" value="Cancel"></td>
                </tr>
            </table>
    </div>
    <input type="hidden" name="ticket" value="{{ ticket }}">
</form>
{% endblock %}
    

