{% extends "layout.html" %}
{% block content %}
    <table>
    <tr>
        <th>Username</th>
        <th>Member of Groups</th>
        <th>Email</th>
        <th>Jabber</th>
        <th>Action</th>
    </tr>
    {% for u in user_accounts %}
    <tr>
        <td>{{ u.namelink }} {{ u.disabled and "(%s)" % "disabled" or ""}}</td>
        <td>{{ u.grouppage_links }}</td>
        <td>
            {% if u.email %}
            <a href="mailto:{{ u.email|urlquote }}" class="mailto">{{ u.email|e }}</a>
            {% endif %}
        </td>
        <td>
            {% if u.jid %}
            <a href="xmpp:{{ u.jid|urlquote }}" class="mailto">{{ u.jid|e }}</a>
            {% endif %}
        </td>
        <td>
            <form action="">
                <input type="hidden" name="do" value="userprofile" />
                <input type="hidden" name="name" value="{{ u.name }}" />
                <input type="hidden" name="key" value="disabled" />
                <input type="hidden" name="val" value="{{ u.disabled and "0" or "1" }}" />
                <input type="submit" name="userprofile" value="{{ u.disabled and "Enable user" or "Disable user" }}" />
            </form>
            <form action="">
                <input type="hidden" name="do" value="recoverpass" />
                <input type="hidden" name="email" value="{{ u.email }}" />
                <input type="hidden" name="account_sendmail" value="1" />
                <input type="submit" name="recoverpass" value="{{ "Mail account data" }}" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

