{% block content %}
<form action="{{ itemname }}" method="POST">
    <input type="hidden" name="do" value="userprefs">
    <input type="hidden" name="handler" value="prefs">
    <div class="userpref" lang="en" dir="ltr">
        <table>
            <tr>
                <td><b>{{ userprefs.user.name.title }}</b>   </td>
                <td><input type="text" name="name" value="{{ userprefs.user.name.param }}" size="36"> {{ userprefs.user.name.comment }} </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.user.aliasname.title }}</b>   </td>
                <td><input type="text" name="aliasname" value="{{ userprefs.user.aliasname.param }}" size="36"> </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.user.email.title }}</b>   </td>
                <td><input type="text" name="email" value="{{ userprefs.user.email.param }}" size="36"> </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.user.css_url.title }}</b>   </td>
                <td><input type="text" name="css_url" value="{{ userprefs.user.css_url.param }}" size="40"> {{ userprefs.user.css_url.comment }}</td>
            </tr>
            <tr>
                <td><b>{{ userprefs.edit_rows.title }}</b>   </td>
                <td><input type="text" name="edit_rows" value="{{ userprefs.edit_rows.param }}" size="3"> </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.theme_selection.title }}</b>   </td>
                <td><select name="theme_name" size="1">
                    {% for v in userprefs.theme_selection.param %}
                        <option {{ v.selected }} value="{{ v.value }}">{{ v.text }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.editor_default_selection.title }}</b>   </td>
                <td>
                    <select name="editor_default" size="1">
                        {% for v in userprefs.editor_default_selection.param %}
                            <option {{ v.selected }} value="{{ v.value }}">{{ v.text }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.prefered_editor.title }} </b>   </td>
                <td>
                    <select name="editor_ui" size="1">
                        {% for v in userprefs.prefered_editor.param %}
                            <option {{ v.selected }} value="{{ v.value }}">{{ v.text }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.date_formats.title }}</b>   </td>
                <td>
                    <select name="datetime_fmt" size="1">
                        <option value="">Default</option>
                        {% for v in userprefs.date_formats.param %}
                            <option value="{{ v.value }}">{{ v.text }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.prefered_language.title }}</b>   </td>
                <td>
                    <select name="language" size="1">
                        {% for v in userprefs.prefered_language.param %}
                            <option {{ v.selected }} value="{{ v.value }}">{{ v.text }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>{{ userprefs.general_options.title }}</b>   </td>
                <td>
                    {% for v in userprefs.general_options.param %}
                        <input type="checkbox" {{ v.checked }} name="{{ v.name }}"> {{ v.text }}<br>
                    {% endfor %}
                 </td>
            </tr>
            <tr>
                <td><b> {{ userprefs.quick_links.title }} </b>   </td>
                <td><textarea rows="6" cols="50" name="quicklinks">{{ userprefs.quick_links.param }}</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="save" value="Save">
                    <input type="submit" name="cancel" value="Cancel"> 
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="do" value="userprefs">
    <input type="hidden" name="handler" value="prefs">
</form>
{% endblock %}
