include README REQUIREMENTS
include moin wikiconfig.py
include Makefile
include babel babel.cfg

recursive-include docs *

recursive-include   MoinMoin/translations *

recursive-include   MoinMoin/static *
recursive-include   MoinMoin/templates *

recursive-include   MoinMoin/apps/admin/templates *
recursive-include   MoinMoin/apps/misc/templates *

recursive-include   MoinMoin/themes/modernized *

recursive-include   tests *
global-include */_tests/*

recursive-include   contrib *

recursive-include   wiki *

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.orig
global-exclude *.rej

prune docs/_build
prune env

prune wiki/data/content
prune wiki/data/trash
prune wiki/data/userprofiles
prune wiki/data/flask-cache
exclude wiki/data/ROUTER_index.sqlite

